@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import 'navbar';
@import 'header';
@import 'about';

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

p {
    font-size: 13px;
    line-height: 26px;
    color: #666;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
    line-height: 52px;
}

h5 {
    font-size: 16px;
    letter-spacing: 5px;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Questrial', sans-serif;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.col__5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col__6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

span.section__subtitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    color: #444;
}

span.section__subtitle + h2 {
    margin-top: 15px;
}

h2 + p {
    margin-top: 30px;
}

.text__highlight {
    color: #da933f;
}
